/* header start */
.header {
background-color: olivedrab;
height: 100px;
line-height: 70px;
display: flex;
justify-content: space-between;
padding-right: 2.5%;
padding-left: 2.5%;
position: fixed;
top: 0;
right: 0;
left: 0;
}

/* .header div {
    border: 1px solid white;
} */

.menu {
    display: flex;
    flex-basis: 40%;
        /* flex: 1; */
}

.menu div {
    margin-right: 10px;
    font-family: sans-serif;
}

.isiHeader {
    /* flex: 1; */
    font-size: 30px;
    font-weight: bolder;
}
/* header end */

.container1{
    background-color: darkgrey;
    height: 50vh; /*view */
    display: flex;
    flex-direction: column;
    justify-content: center;/*agar ke tengah*/
    align-items: center;
}

.container1 div{
    /* border: 1px solid black; */
    font-size: 30px;
    color: wheat;
}



.container2 {
    /* border: 1px solid black; */
    display: flex;
    /* padding: 50px; */
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.card .gambar {
    height: 70%;
    background-color: aqua;
}

/* .container2 div {
    height: 270px;
    width: 200px;
    background-color: chartreuse;   
} */

.container2 .card {
    height: 300px;
    flex-basis: 23%;
    background-color: chocolate;
    border-radius: 10px;
}

.icon-container {
    display: none;
}

/* responsive */

@media only screen and (max-width: 720px) {
    .isiHeader {
        color: red;
    }
    .menu {
        display: none;
    }
    .icon-container {
        display: block;
        font-size: 25px;
    }
    .header {
        padding-right: 3%;
    }
    .container2{
        flex-direction: column;
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;        
    }
    .container2 .card {
        height: 400px;
        margin-bottom: 20px;
        margin-right: 2%;
        margin-left: 2%;
        /* flex-basis: 45%x; */
        /* background-color: chocolate;
        border-radius: 10px; */
    }
    .container2 .card :nth-child(odd){
        margin-right: 2%;
        margin-left: 2%;
    }
}

@media only screen and (min-width: 720px) {
    .isiHeader {
        color: rgba(47, 138, 55, 0.849);
    }
}




/* @media only screen and (max-width: 480px) {
    .isiHeader {
        color: white;
        }
} */

/* ======================================= */
/* * {
    padding: 0;
    margin: 0;
} */

/* .container {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    line-height: 150px;
    height: 400px;
    background-color: skyblue;
    justify-content: space-around;
    align-items: center;
    padding: 0px, 10px, 0px, 10px;
} */

/* .container div{
    height: 200px;
    width: 19.84%;
    font-size: 54px;
    background-color: salmon;
    border: 1px solid black;
    transition: 50ms;
} */

/* .container div:hover {
    cursor: pointer;
    background-color: lawngreen;
} */